doctype html
html(ng-app="visApp")
  head
    meta( charset='utf-8' )

    title.
      {{ title }}
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      nav.navbar.navbar-fixed-top.bg-faded
        .container
          a.navbar-brand(ui-sref="apps()")
            img(src="img/logo.svg", height="50px")
          ul.nav.navbar-nav
            li

    main.container(style="margin-top:50px")
      block content

    script(src="/bower_components/moment/min/moment-with-locales.min.js")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="/bower_components/oclazyload/dist/ocLazyLoad.min.js")
    script(src="/bower_components/angular-clipboard/angular-clipboard.js")
    script(src="/js/directives.js")
    script(src="/js/app.js")
